::-moz-selection {
  color: #000001;
  background: #000000;
}

::selection {
  color: #000001;
  background: #000000;
}

h1 {
  font-family: 'Alata', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 110%;
  text-align: left;
  font-size: 60px;
  padding: 20% 0px 30% 30%;
}

#footerImage, .main-header {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#footerImage {
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#footerImage {
  mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%);
}

.main-header {
  background: linear-gradient(rgba(255, 255, 255, 1), transparent),
              linear-gradient(0deg, rgba(255, 255, 255, 1), transparent),
              url(../images/bodybackground.jpeg) no-repeat center;
}

#socialMedia {
  display: flex;
  justify-content: center;
  padding-bottom: 30%;
}

#socialMediaImages {
  width: 40%;
  vertical-align: bottom;
}

#resumeDiv, #socialMedia {
  display: flex;
  justify-content: center;
  padding-bottom: 30%;
  text-align: -webkit-center;
}

#resumeDivImage {
  max-width: 80%;
}

body {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 1269px) {
  h3 {
    padding-top: 30%;
    padding-bottom: 40%;
    font-size: 48px;
  }
}

@media screen and (max-width: 1024px) {
  h3 {
    padding: 40% 0px 40% 7%;
    font-size: 47px;
  }
}

@media screen and (max-width: 768px) {
  h3 {
    padding: 80% 3%;
    font-size: 37px;
  }
  #resumeDiv {
    padding-bottom: 100%;
  }
}

@media screen and (max-width: 600px) {
  img, div {
    width: 100%;
  }

  h3 {
    font-size: 25px;
    padding: 100% 4%;
  }
}

@media screen and (max-width: 425px) {
  h3 {
    font-size: 22px;
    padding: 100% 4%;
  }
}

@media screen and (max-width: 375px) {
  h3 {
    font-size: 19px;
    padding: 100% 4%;
  }
}

@media screen and (max-width: 320px) {
  h3 {
    font-size: 19px;
    padding: 100% 4%;
  }
}
