::-moz-selection {
  color: #000001;
  background: #000000;
}

::selection {
  color: #000001;
  background: #000000;
}

h1 {
  font-family: 'Alata', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 110%;
  text-align: left;
  font-size: 60px;
  padding: 20% 0px 30% 30%;
}

#headerImage {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

#socialMedia {
  display: flex;
  justify-content: center;
  padding-bottom: 30%;
}

#socialMediaImages {
  width: 40%;
  vertical-align: bottom;
}

#resumeDiv, #socialMedia {
  display: flex;
  justify-content: center;
  padding-bottom: 30%;
  text-align: -webkit-center;
}

#resumeDivImage {
  max-width: 80%;
}

body {
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
  h3 {
    padding: 20% 0px 20% 7%;
  }
}

@media screen and (max-width: 768px) {
  h3 {
    font-size: 44px;
  }
}

@media screen and (max-width: 600px) {
  img, div {
    width: 100%;
  }

  h3 {
    font-size: 36px;
    padding: 4%;
  }
}

@media screen and (max-width: 425px) {
  h3 {
    font-size: 25px;
    padding: 4%;
  }
}

@media screen and (max-width: 375px) {
  h3 {
    font-size: 22px;
    padding: 4%;
  }
}

@media screen and (max-width: 320px) {
  h3 {
    font-size: 19px;
    padding: 4%;
  }
}
